<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    {{>navbar}}
    <div class="container-flued bg-black" id="topcn">
        <div class="row" id="topcnrow">
            <div class="col-md-6 col-12" id="topcnfdiv">
                <figure>
                    <img src="img/robot.png" alt="">
                </figure>
            </div>
            <div class="col-md-6 col-12" id="topcnsdiv">
                <span></span>
                <h1 class="m-5">Robot Are The Future</h1>
                <p class="m-5">Lorem ipsum dolor sit Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                    sequi. Praesentium, sequi! amet, consectetur adipisicing elit. Voluptas tenetur ab libero!
                </p>
            </div>
        </div>
    </div>

    <div class="container-flued" id="cn-2">
        <div class="row" id="cn-2-row">
            <div class="col-md-6 col-12" id="cn-2-fdiv">
                <h1 class="m-5">Human-Robot</h1>
                <p class="m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nostrum laborum dicta, id
                    quidem magni officiis consequuntur unde nobis, saepe rem, nam consequatur eaque. Quod fuga dolore
                    quibusdam quaerat pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, iure.
                </p>
            </div>
            <div class="col-md-6 col-12" id="cn-2-sdiv">
                <img src="img/robot1.jpg" alt="load">
            </div>
        </div>
    </div>

    <div class="container-flued" id="cn-3">
        <div class="row" id="cn-3-row">
            <div class="col-md-6 col-12" id="cn-3-fdiv">
                <h1>Future Of Work</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ut minus optio, porro cumque quo quae?
                    Id maxime eaque amet.</p>
                <div class="row">
                    <div class="col-4">
                        <img src="img/robot2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/robot5.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/robot4.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12" id="cn-3-sdiv">
                <h1>Future Of Work</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ut minus optio, porro cumque quo quae?
                    Id maxime eaque amet.</p>
                <div class="row">
                    <div class="col-4">
                        <img src="img/robot6.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/robot7.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/robot8.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="/js/script.js"></script>
</body>

</html>